@import url(react-toastify/dist/ReactToastify.min.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanThinFaNum.ttf);
    font-weight: 200;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanLightFaNum.ttf);
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanRegularFaNum.ttf);
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanRegularFaNum.ttf);
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanBoldFaNum.ttf);
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-family: iranYekan;
    src: url(/fonts/IRANYekanExtraBoldFaNum.ttf);
    font-weight: 800;
}

html,
body {
    max-width: 100vw;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
